@font-face {
    font-family: "unboudado_fi";
    src: url(fonts/Unbounded-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    
}

.cor-branca {
    color: #F5F5F5;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Estilização*/
body {
    background-color: #0E1014;
}

header img{
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    color: #9747FF;
    font-size: 80px;
    font-family: "Unbounded";
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 24px;
}

h1 span {
    color: #F5F5F5;
}

p {
    font-family: "Poppins";
    font-size: 24px;
    text-align: center;
    width: 792px;
    margin: 24px auto 0;

}

button {
    font-size: 24px;
    font-family: "Poppins";
    background-color: #9747FF;
    width: 340px;
    height:  64px;
    border-radius: 36px;
    display: block;
    text-align: center;
    margin: 40px auto;
    
}

button:hover{
    background-color: #8233E8;
}

main section img {
    display: block;
    margin: 40px auto;
    margin: 0 auto;
}

/*Portabilidade*/
@media(max-width: 768px){

header img{
    margin: 65px 0 0 65px;
}

p{ 
    width: 648px;
}
}


@media(max-width: 375px){

    header img {
        margin: 32px 0 0 16px;

    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    main section div img{
        width: 340px;
    }


}
